:root {
  /* Colors */
  --cell-border-inactive: #ccc5b9;
  --cell-border-hover: #403d39;
  --cell-value: #252422;

  /* Fonts */
  --main-font: -apple-system, Helvetica, sans-serif;

  /* Other */
  --main-transition: all 200ms ease-in-out;
}
