:root {
  /* Colors */
  --cell-border-inactive: #ccc5b9;
  --cell-border-hover: #403d39;
  --cell-border-invalid: #eb5e28;
  --cell-value: #252422;
  --background-main: #ffffff;
  --background-attenuated: #fffcf2;

  /* Fonts */
  --main-font: -apple-system, Helvetica, sans-serif;
  --mono-font: "Fira Code", monospace;

  /* Other */
  --main-transition: all 200ms ease-in-out;
  --floating-panel-shadow: 0px 10px 15px -3px rgba(0,0,0,0.1);
}
